<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Marvel Game Card
        link(rel="stylesheet", href="./app.css")
    body
        h1 Marvel Game Card
        div(class="card")
            h2(class="card-name") Wolverine
            img(src="./images/wolverine.jpg", alt="", class="card-image")
            div(class="card-description") Wolverine es muy poderoso
            div(class="card-attack") 500 puntos de ataque